#carousel_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main_carousel_image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 450px;
  left: -1px;
  right: -1px;
  color: rgb(119, 119, 119);
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
  font-size: 25px;
  color: #ffffff;
}

h4{
  padding: 0;
  font-size: 1em;
  margin-top: .6em;
  margin-bottom: .6em;
}

#carousel_item_2 .text{
  top: 30%;
  color: rgb(24, 30, 36);
}

.view_collection_link{
  position: absolute;
  margin-top:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

.view_collection_link:hover{
  background-color: #ffffff;
  color: #666666;
  border-color: #ffffff;
}

.shop_all_btn{
  position: absolute;
  margin-top:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.shop_all_btn:hover{
  background-color: black;
  color: #ffffff;
  border-color: black;
}

#nav_arrow{
  display:none;
}

#prev_arrow{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 31%;
  left: 2%;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

#prev_arrow:hover{
  background-color: black;
  border-color: black;
}

#next_arrow{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 31%;
  right: 2%;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

#next_arrow:hover{
  background-color: black;
  border-color: black;
}

.nav_dots {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 70%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 3px solid #111;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
