.main{
    display: flex;
    flex-wrap: wrap;
}

.productImage{
    object-fit: cover;
}

.mainInfo{
    flex: 1;
    padding: 0 1rem;
}

.productOptionBtn{
    margin: 0.16rem;
    width: fit-content;
    background: transparent;
    border: 1px solid #A8A8A8;
    border-radius: 3px ;
}

.productOptionBtn:hover{
    border: 2px solid black;
}

.additional_info_tabs{
    display: flex;
    gap: 10px;
}

.additional_info_tab{
    background-color: transparent;
    border: none;
}

.additional_info_tab:hover{
    border-top: 2px solid black;
}

table{
    width:100%;
}

th{
    text-align: left;
    line-height: 1.05;
    letter-spacing: .05em;
}

th,td{
    padding: .5em;
    text-align: left;
    border-bottom: 2px solid #ececec;
    font-size: .9em;
}