.productCards {
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  text-align: center;
  cursor: pointer;
}

h3 {
  margin: 5px 5px 0px 5px;
  padding: 0px;
}

.productCardImg img{
  transition: 0.3s ease-in;
  transform: scale(1);
}

.productCardImg img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.productCardImg {
  overflow: hidden;
}
