.main{
    display: flex;
    flex-wrap: wrap;
}

.mainInfo{
    flex: 1;
}

.productOptionBtn:hover{
    border: 2px solid black;
}

.active{
    border: 1px solid black;
    background: black;
    color: white;
}

.active-tab{
    border-top: 2px solid black;
}

table{
    width:100%;
}

th{
    text-align: left;
    line-height: 1.05;
    letter-spacing: .05em;
}

th,td{
    padding: .5em;
    text-align: left;
    border-bottom: 2px solid #ececec;
    font-size: .9em;
}