.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%) ;
  transition: transform 0.2s ease-in;
  background-color: #f0f0f0;
  padding-top: 60px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 32px;
}

.down-arrow{
  transform: rotate(0deg);
  transition: transform 0.2s ease-in;
}

.child-sidenav{
  position:absolute;
  z-index: 10;
  transform: translateX(-110%) ;
  transition: transform 0.0s ease-in;
}

.active-child-sidenav-container{
  background-color: #e8e8e7;
}

.active-child-sidenav{
  position:relative;
  display: flex;
  transform: translateX(0) ;
  transition: transform 0.1s ease-in;
}